extends ../shared/template
block content
  #index-page
    .row
      .col-xs-2
      .col-xs-8
        #map
      .col-xs-2
    .row
      .col-xs-2
      .col-xs-8
        table.table.table-striped
          thead
            th: a(href='?sortby=name') Name
            th: a(href='?sortby=loc.name') Location
            th Tags
            th: a(href='?sortby=difficulty') Difficulty
            th: a(href='?sortby=order') Order
            th: a(href='?sortby=found') Discovered
          tbody
            each treasure in treasures
              tr(data-name=treasure.loc.name, data-lat=treasure.loc.lat, data-lng=treasure.loc.lng)
                td: a(href='/treasures/'+treasure._id)= treasure.name
                td= treasure.loc.name
                td
                  - if(treasure.tags != null) {
                    each tag in treasure.tags
                      a.tag(href='?tag=#{tag}')= tag
                  -}
                - if (treasure.difficulty === 'Tough'){
                td(style='color: red;')= treasure.difficulty
                - } else if (treasure.difficulty === 'Manageable'){
                td(style='color: orange;')= treasure.difficulty
                - } else {
                td(style='color:gold;')= treasure.difficulty
                - }
                td= treasure.order
                - var picture;
                - (!treasure.found) ? picture = '../img/unfinished.png' : picture = '../img/success.png'
                td: img(src='#{picture}')= treasure.found
      .col-xs-2

block scripts
  script(src='/js/user/treasure.js')
